In [124]:
import pandas as pd

In [125]:
df=pd.read_excel(r"D:\HOSHO\input.xlsx")

In [126]:
df.head()

             Software       Data Analyst    Buisiness Analyst
0       Aamodit Saini   Karan Kumar Shah  Svastii Shrivastava
1          Anuj Gupta       Kavya Shukla      Swayam jironiya
2          Ayush Nema         Kayab Khan         Tanish Anand
3   Harsh Vishwakarma       KESHAV GUPTA       Tanishi Shukla
4  Jayesh Shrivastava  Layaa Vishwakarma    Tanishka Shivhare

In [127]:
column_data1 = df['Software'] # Developers
column_data2 = df['Data Analyst'] # Data Analysts
column_data3 = df['Buisiness Analyst']

column_data1=column_data1.dropna().tolist() 
column_data2=column_data2.dropna().tolist()
column_data3=column_data3.dropna().tolist()

In [128]:
len(column_data1)

29

In [129]:
num_teams = min(len(column_data1) // 3, len(column_data2), len(column_data3))

teams = []

In [130]:
num_teams

9

In [131]:
len(column_data1)

29

In [132]:


import random


for i in range(num_teams):   
    while len(column_data1)>=3 and len(column_data2)>0 and len(column_data3)>0:
        if len(column_data1) < 3 or len(column_data2) < 1 or len(column_data3) < 1:
            print("Insufficient members to form a team")
            break
        selected_developers = random.sample(column_data1, 3)
    
        selected_data_analyst = random.sample(column_data2, 1)
        
        selected_business_analyst = random.sample(column_data3, 1)
        
        team = selected_developers + selected_data_analyst + selected_business_analyst
        teams.append(team)
        print("Size of col1, col2, col3", len(column_data1), len(column_data2), len(column_data3))
        
       
        column_data1 = [d for d in column_data1 if d not in selected_developers]
        column_data2 = [d for d in column_data2 if d not in selected_data_analyst]
        column_data3 = [d for d in column_data3 if d not in selected_business_analyst]

Size of col1, col2, col3 29 20 19
Size of col1, col2, col3 26 19 18
Size of col1, col2, col3 23 18 17
Size of col1, col2, col3 20 17 16
Size of col1, col2, col3 17 16 15
Size of col1, col2, col3 14 15 14
Size of col1, col2, col3 11 14 12
Size of col1, col2, col3 8 13 11
Size of col1, col2, col3 5 12 10

In [133]:
len(teams)

9

In [134]:
for idx, team in enumerate(teams, start=1):
    print(f"Team {idx}: {team}")

Team 1: ['AMEY BAJPAI', 'ANMOL SAHU', 'Akshat Gupta', 'Kayab Khan', 'Svastii Shrivastava']
Team 2: ['Jayesh Shrivastava', 'Aadarsh Soni', 'Prince', 'nikhil koshta', 'Vedansh Chandak']
Team 3: ['Ranvijay Kumar Upadhyay', 'Aamodit Saini', 'Aditya Sijaria', 'Nikhil Patidar', 'Yashvi Jain']
Team 4: ['Abhinav Mishra', 'Saurabh Suman', 'VIDHI AWASTHI', 'Mohnish Raj', 'Tanishka Shivhare']
Team 5: ['Vishal Sahu', 'Harsh Vishwakarma', 'Yash Saxena', 'Mayank Rautiya', 'Vinay Patidar']
Team 6: ['Aditi Choudhary', 'Shivam', 'Ayush Nema', 'KESHAV GUPTA', 'Vikramaditya Singh']
Team 7: ['Akhilesh Sharma', 'Priya Vishwakarma', 'Abhay Urmaliya', 'Mayank singh tagore', 'Swayam jironiya']
Team 8: ['aasit babele', 'Nischal Jain', 'Vedik Saini', 'Nikhil Koshta', 'Uday Uikey']
Team 9: ['Anuj Gupta', 'Yash Tiwari', 'Abhishek Choudhary', 'Manishh Kumar', 'Tushar porwal']